<ul class="{{#is 'home'}} flex flex-row overflow-scroll	space-x-4 justify-center secondary-font px-4 py-4 {{/is}}">

	{{#foreach navigation}}
		<li class="{{#is 'home'}} {{/is}} nav-{{slug}}{{#if current}} active{{/if}}"><a href="{{url absolute="true"}}"><span>{{label}}</span></a></li>
	{{/foreach}}
</ul>
